<h2><%= @idea.title %></h2>
<h3><%= @idea.summary %></h3>

<p><%= @idea.content %></p>

<% if !@idea.published %>
  <a href="/ideas/<%= @idea.slug %>/edit"><button>Edit/Publish Idea</button></a>
<% end %>
<a href="/ideas"><button>Return to Ideas</button></a>

<br>
<br>
<a href="/ideas/<%= @idea.slug %>"
  data-confirm="Confirm Deletion of Idea?"
  data-method="delete"
  rel="nofollow"><button>Delete Idea</button></a>


<% if @idea.tags.length > 0 %>
<p>Tags:
    <% @idea.tags.each do |tag| %>
    <a href="tag/<%tag.id%>"><%= tag.name %></a>
    <!--Link for tag not working. Should display all ideas with that tag by top voted.-->
    <% end %></p>
<% end %>

<form action="/ideas/<%= @idea.slug %>" method ="post">
<p><label for="idea_tags">Add Tags to this idea:</label>
  <p>Separate each tag by a comma</p>
  <input id="idea_tags" name="tag" type="text"></p>
  <button>Add Tags</button>
</form>


